{% extends "layout.html" %}

{% block content %}

<div>
  <figure class="text-center">
    <blockquote class="blockquote">
      <p style="font-size: 30px;">Novedades</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Enterate de las ultimas novedades relacionadas a VFD!
    </figcaption>
  </figure>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-2"><img src="../static/whatsapp.jpg"
        class="img-thumbnail"></div>
    <div class="col-sm-8">
      <h2 class="text-danger">AVISO DE NUEVAS CAMPAÑAS POR WHATSAPP</h2><br>
      <p class="text-md-start">
        Comenzamos el rollout de una herramienta automática que <b>le avisa a los partners mediante Whatsapp cuando
          tienen
          una nueva campaña de marketing para unirse!</b><br>
        Desde ahora, más negocios van a poder enterarse y participar de las campañas y sumar descuentos a sus productos
        desde su Vendor Portal.<br>
        Estos mensajes aplican exclusivamente a campañas de autogestión en Vendor Portal,<br>
        <a href="https://docs.google.com/presentation/d/1fXxBj6zS-oXrhVHlHpmYhjoGmk6fjgC7R5ctHvVNsLs/edit?usp=sharing">
          Conocé más acá </a>
      </p>
    </div>
  </div>

  <div class="container text-center">
    <div class="row">
      <div class="col-sm-2"><img
          src="../static/descuentos.png"
          class="img-thumbnail"></div>
      <div class="col-sm-8">
        <h2 class="text-danger">MEJORAS EN LAS CAMPAÑAS DE MARKETING</h2><br>
        <p class="text-md-start">
          <b>¡Estamos implementando un nuevo tipo de campañas de marketing que mejora la experiencia del usuario y
            acelera el proceso de carga!</b>
          <br>
          Se lanzó la carga masiva para campañas tipo Deal, el cual trae grandes beneficios para todos:<br>
        <ul class="list-group">
          <li class="list-group-item text-md-start"><b>Usuarios</b> Perciben mejor el descuento (siempre va a tener el % de descuento y el precio original
            tachado).</li>
          <li class="list-group-item text-md-start"><b>Vendors</b> Aumenta la conversión de los productos en campaña.</li>
          <li class="list-group-item text-md-start"><b>Pedidos Ya</b> El proceso de carga es automático y reduce los errores en los productos en promoción.
          </li>
        </ul>
        Todos los partners 9 cookies ya pueden ser cargados en este tipo de campañas, y pronto los partners con
        integración también,
        <a href="https://docs.google.com/presentation/d/1gjHvR1Xl0XE5ElkYde-V2CfO-hbnr1TPAUjVUkvb9ZI/edit?usp=sharing">
          Conocé más acá </a>
        </p>
      </div>
    </div>

    <div class="container text-center">
      <div class="row">
        <div class="col-sm-2"><img
            src="../static/CARRITO.png"
            class="img-thumbnail"></div>
        <div class="col-sm-8">
          <h2 class="text-danger">AVISO DE NUEVAS CAMPAÑAS POR WHATSAPP</h2><br>
          <p class="text-md-start">
            Comenzamos el rollout de una herramienta automática que <b>le avisa a los partners mediante Whatsapp cuando
              tienen
              una nueva campaña de marketing para unirse!</b><br>
            Desde ahora, más negocios van a poder enterarse y participar de las campañas y sumar descuentos a sus
            productos
            desde su Vendor Portal.<br>
            Estos mensajes aplican exclusivamente a campañas de autogestión en Vendor Portal,<br>
            <a
              href="https://docs.google.com/presentation/d/1fXxBj6zS-oXrhVHlHpmYhjoGmk6fjgC7R5ctHvVNsLs/edit?usp=sharing">
              Conocé más acá </a>
          </p>
        </div>
      </div>

      {% endblock %}